[project]
name = "fastapi_project"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "fastapi>=0.123.5",
    "fastapi-users[sqlalchemy]",
    "uvicorn[standard]>=0.38.0",
]
